asgiref==3.2.7
Django==3.0.5
django-cors-headers==3.2.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.5.0
PyJWT==1.7.1
pytz==2020.1
sqlparse==0.3.1
django-storages==1.12.3
boto3==1.11.4
pandas==1.4.2
python-barcode==0.14.0
folium==0.14.0
googlemaps==4.10.0
pyexcel==0.7.0
pyexcel_xls==0.7.0
pyexcel-xlsx==0.6.0
openpyxl==3.1.1
gunicorn==20.1.0
apscheduler==3.10.0
django-smtp-ssl==1.0
xlsxwriter==3.0.8
django-simple-search==1.0.2
gmplot==1.4.1
awscrt==0.16.10
awsiotsdk==1.12.5
psycopg2-binary==2.9.9
django-dia
reportlab==4.0.4
django-jsonfield
zplgrf
Pillow==9.4.0
matplotlib

